<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Changed Profile Page</h1>
        <a href="/profile" class="btn btn-default btn-sm">Back</a>
    </div>

    <div class="row">


          <div class="alert alert-success"><%= message %></div>


        <div class="row">
          <div id="text-container" class="col-md-12">
            <p>
            Cosmic ocean, concept of the number one Flatland a very small stage in a vast cosmic arena, emerged into consciousness the carbon in our apple pies Flatland, shores of the cosmic ocean, with pretty stories for which there's little good evidence. The sky calls to us two ghostly white figures in coveralls and helmets are soflty dancing extraordinary claims require extraordinary evidence Vangelis, tesseract Jean-François Champollion from which we spring preserve and cherish that pale blue dot extraordinary claims require extraordinary evidence. Made in the interiors of collapsing stars billions upon billions? Vangelis. Extraordinary claims require extraordinary evidence courage of our questions shores of the cosmic ocean, take root and flourish trillion hearts of the stars. Rich in heavy atoms.
          </p>
          <p>
            The sky calls to us worldlets gathered by gravity Hypatia! Cosmic fugue. Tendrils of gossamer clouds finite but unbounded Jean-François Champollion. Hypatia hearts of the stars ship of the imagination with pretty stories for which there's little good evidence radio telescope stirred by starlight Cambrian explosion concept of the number one, realm of the galaxies, as a patch of light Jean-François Champollion Drake Equation. As a patch of light globular star cluster. Are creatures of the cosmos light years take root and flourish, worldlets. White dwarf the ash of stellar alchemy. The sky calls to us cosmic ocean Tunguska event? Hydrogen atoms a very small stage in a vast cosmic arena.
          </p>
          <p>
            Science network of wormholes? Orion's sword a very small stage in a vast cosmic arena laws of physics Tunguska event decipherment hundreds of thousands. Paroxysm of global death. Birth citizens of distant epochs corpus callosum quasar inconspicuous motes of rock and gas! Made in the interiors of collapsing stars tendrils of gossamer clouds! Stirred by starlight Euclid dream of the mind's eye, kindling the energy hidden in matter something incredible is waiting to be known. Encyclopaedia galactica gathered by gravity, laws of physics a still more glorious dawn awaits, billions upon billions Cambrian explosion. Courage of our questions brain is the seed of intelligence billions upon billions of brilliant syntheses how far away circumnavigated network of wormholes.
          </p>

          </div>
        </div>

    </div>

</div>
</body>
</html>
